/* header */
.wrap #header {
    padding: 3vw 11vw;
    font-family: "deciso";
    font-weight: 900;
    /* background-image: url(../img/bg_yellow.png); */
  }
  
  .wrap #header #menu {
    width: 100%;
  }
  
  .wrap #header #menu ul {
    display: flex;
    justify-content: space-between;
  }
  
  .wrap #header #menu ul a {
    display: block;
  }
  
  .wrap #header #menu ul li a {
    font-size: 12px;
  }
  
  .wrap #header #menu ul li a em {
    display: block;
    margin-bottom: 1.2em;
    color: #fff;
    font-weight: 100;
  }
  
  .wrap #header #menu ul li a em:last-child {
    margin-bottom: 0;
    margin-top: 2.7em;
  }
  
  .wrap #header #menu ul li a span {
    color: #000000;
  }
  
  @media (max-width:450px) {
    .wrap #header #menu {
      display: none;
    }
  }
  
  /* //header */

  /* intro */
.wrap #main #intro {
  padding: 0 11vw;
  font-family: "deciso";
  flex-direction: column;
  align-items: flex-start;
}

.intro__title {
  /* background-color: rgba(00,00,00,0.5); */
  position: relative;
  width: 100%;
  height: 24vw;
}

.intro__title .intro__title__top {
  color: #000000;
  font-size: 13vw;
  font-weight: 900;
  position: absolute;
}

.intro__title .tTop {
  left: -0.9vw;
  top: -6vw;
  z-index: 3;
}

.intro__title .tTop.sha {
  left: 0.05vw;
  top: -5vw;
  z-index: 1;
  font-weight: 500;
}

.intro__title .tTop:nth-child(1):after {
  content: "FRONTENDDEV";
  color: #fff;
  font-size: 1.2vw;
  letter-spacing: 0.6em;
  font-weight: 500;
  margin-left: 1vw;
  line-height: 0vw;
  position: absolute;
  top: 10.5vw;
  left: 26vw;
}

.intro__title .tBottom {
  top: 5vw;
  left: -0.9vw;
  z-index: 3;
}

.intro__box {
  position: absolute;
  left: -2.8vw;
  top: 6.2vw;
  background-color: #fff;
  width: 71vw;
  height: 16.5vw;
  z-index: 2;
}

.intro__box.shaBox {
  left: -1.8vw;
  top: 7vw;
  z-index: 1;
}

.intro__summ__desc {
  color: #000000;
  display: block;
  font-size: 5.3vw;
  font-weight: 900;
  letter-spacing: -0.05em;
  line-height: 5.5vw;
  margin-left: -0.3vw;
}

@media (max-width:450px) {
  .intro__summ__desc {
    font-size: 24px;
    line-height: 25px;
  }
}

.intro__summ__desc:nth-child(2)::after {
  content: "DREAM";
}

.intro__summ__desc:nth-child(3)::after {
  content: "CURRENT";
}

.intro__summ__desc:nth-child(4)::after {
  content: "FUNDAMENTAL";
}

.intro__summ__desc::after {
  color: #fff;
  font-size: 1.2vw;
  letter-spacing: 0.6em;
  font-weight: 500;
  margin-left: 1vw;
  line-height: 0vw;
}

/* //intro */

/* about */
#about {
  width: 100vw;
  overflow: hidden;
}

#aboutArti .aboutDesc {
  width: 40vw;
  font-family: "Cafe24Ohsquareair";
  color: #fff;
  font-weight: lighter;
  font-size: 1vw;
  line-height: 160%;
  transform: rotate(0.1deg) translate(35%, 0);
}

#aboutArti .aboutDesc p {
  margin-bottom: 1vw;
}

#aboutArti .aboutDesc span {
  color: #000000;
}

.picture {
  width: 28vw;
  height: 28vw;
  border-radius: 50%;
  background: #fff;
  /* background-image: url(../img/aboutme1.png); */
  background-position: center center;
  background-size: cover;
  transform: rotate(0.1deg) translate(-65%, 0);
}

@media (max-width: 1360px) {
  #aboutArti .aboutDesc {
    line-height: 1.5;
  }

  #aboutArti .aboutDesc p {
    font-size: 14px;
  }
}

@media (max-width: 1010px) {
  #aboutArti {
    display: flex;
    flex-direction: column;
  }

  #aboutArti .aboutDesc {
    width: 90vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  #aboutArti .aboutDesc p {
    margin-bottom: 10px;
  }

  .picture {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10vw;
  }
}

/* //about */

/* skill */
#skill {
  font-size: 0.1vw;
}

#skill .skillWrap {
  display: grid;
  grid-template-areas:
    "html div1 div2"
    "html css div3"
    "div4 css javascript"
    "div5 div6 javascript"
    "jquery div7 javascript"
    "jquery div8 div9"
    "jquery php div10"
    "div11 php mysql"
    "div12 div13 mysql"
    "react div14 mysql"
    "react div15 div16";
  grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
  grid-template-rows: 70em 70em 70em 35em 35em 35em 70em 70em 35em 35em 105em;
}

.html {grid-area: html;}

.css {grid-area: css;}

.javascript {grid-area: javascript;}
.jquery {grid-area: jquery;}
.php {grid-area: php;}
.mysql {grid-area: mysql;}
.react {grid-area: react;}
.div1 {grid-area: div1;}
.div2 {grid-area: div2;}
.div3 {grid-area: div3;}
.div4 {grid-area: div4;}
.div5 {grid-area: div5;}
.div6 {grid-area: div6;}
.div7 {grid-area: div7;}
.div8 {grid-area: div8;}
.div9 {grid-area: div9;}
.div10 {grid-area: div10;}
.div11 {grid-area: div11;}
.div12 {grid-area: div12;}
.div13 {grid-area: div13;}
.div14 {grid-area: div14;}
.div15 {grid-area: div15;}
.div16 {grid-area: div16;}

#skill .skillWrap #skillArti .skillT {
  font-family: "deciso";
  font-weight: 100;
  font-size: 50em;
  color: #000;
  position: relative;
}

.skillT::before {
  position: absolute;
  top: 10vw;
  left: 10vw;
  color: #e05057;
}

#skill .skillWrap #skillArti p {
  width: 21.5vw;
  font-family: "Cafe24Ohsquareair";
  font-weight: lighter;
  color: #fff;
  font-size: 1vw;
  line-height: 160%;
  transform: rotate(0.1deg);
  text-align: justify;
}

@media (max-width: 1340px) {
  #skill .skillWrap #skillArti p {
    font-size: 14px;
  }
}

@media (max-width: 1020px) {
  #skill .skillWrap {
    padding: 0 20px;
    grid-template-areas:
      "html div1"
      "html css"
      "div2 css"
      "javascript css"
      "javascript div3"
      "javascript jquery"
      "div4 jquery"
      "php jquery"
      "php div5"
      "php mysql"
      "div6 mysql"
      "react mysql"
      "react div";
    grid-template-columns: calc(100% / 2) calc(100% / 2);
    grid-template-rows: 100em 100em 50em 50em 50em 100em 50em 50em 50em 100em 50em 50em 150em;
  }

  #skill .skillWrap #skillArti p {
    width: 95%;
  }
}

@media (max-width: 800px) {
  #skill .skillWrap {
    grid-template-rows: 100px 100px 50px 50px 50px 100px 50px 50px 50px 100px 50px 50px 150px;
  }
}

@media (max-width: 510px) {
  #skill .skillWrap {
    grid-template-areas:
      "html"
      "css"
      "javascript"
      "jquery"
      "php "
      "mysql"
      "react";
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: initial;
  }

  #skillArti {
    margin-bottom: 5vw;
  }
}

/* //skill */
