body {
  overflow-x: hidden;
  background-image: url(../img/bg_yellow.png);
}

.sha {
  color: #e05057 !important;
}

.shaBox {
  background-color: #e05057 !important;
}

section {
  position: relative;
  
}

/* section 타이틀 */
section.cont {
  min-height: 40vw;
  margin-top: 7vw;
}

.title h2 {
  position: relative;
  font-family: "turretroad";
  font-size: 20vw;
  font-weight: 100;
  color: #fff;
}

section#about .title h2 {
  right: -28vw;
}

section#works .title h2 {
  right: -27vw;
}

section#game .title h2 {
  right: -35vw;
}

section#contact .title h2 {
  right: -3vw;
}

section:nth-child(2n-1):not(:last-of-type) .title h2 {
  left: -17vw;
}

section.cont .title h2::before {
  content: '';
  position: absolute;
  top: 1vw;
  left: 0.5vw;
  z-index: -1;
  color: #e05057;
}

section.cont:nth-child(2) .title h2::before {
  content: 'ABOUT';
}

section.cont:nth-child(3) .title h2::before {
  content: 'SKILL';
}

section.cont:nth-child(4) .title h2::before {
  content: 'WORKS';
}

section.cont:nth-child(5) .title h2::before {
  content: 'SCRIPT';
}

section.cont:nth-child(6) .title h2::before {
  content: 'GAME';
}

section.cont:nth-child(7) .title h2::before {
  content: 'CONTACT';
}

/* //section 타이틀 */