.wrap {
  padding: 0 11vw;
}
/* header */
.wrap #header {
  padding: 3vw 0;
  font-family: "deciso";
  font-weight: 900;
}
.wrap #header #menu {
  width: 100%;
}
.wrap #header #menu ul {
  display: flex;
  justify-content: space-between;
}
.wrap #header #menu ul a {
  display: block;
}
.wrap #header #menu ul li a {
  font-size: 12px;
}
.wrap #header #menu ul li a em {
  display: block;
  margin-bottom: 1.2em;
  color: #fff;
  font-weight: 100;
}
.wrap #header #menu ul li a em:last-child {
  margin-bottom: 0;
  margin-top: 2.7em;
}
.wrap #header #menu ul li a span {
  color: #000000;
}
/* //header */

/* main */
.wrap #main {
  margin: 10vw 0;
  width: 100%;
  /* background-color: rgba(00,00,00,0.1); */
}

/* //main */

/* intro */
.wrap #main #intro {
  font-family: "deciso";
}
.intro__title {
  /* background-color: rgba(00,00,00,0.5); */
  position: relative;
  width: 100%;
  height: 24vw;
}

.intro__title .intro__title__top {
  color: #000000;
  font-size: 13vw;
  font-weight: 900;
  position: absolute;
}

.intro__title .tTop {
  left: -0.9vw;
  top: -6vw;
  z-index: 3;
}

.intro__title .tTop.sha {
  left: 0.05vw;
  top: -5vw;
  z-index: 1;
  font-weight: 500;
}

.intro__title .tTop:nth-child(1):after {
  content: "FRONTENDDEV";
  color: #fff;
  font-size: 1.2vw;
  letter-spacing: 0.6em;
  font-weight: 500;
  margin-left: 1vw;
  line-height: 0vw;
  position: absolute;
  top: 10.5vw;
  left: 26vw;
}

.intro__title .tBottom {
  top: 5vw;
  left: -0.9vw;
  z-index: 3;
}

.intro__box {
  position: absolute;
  left: -2.8vw;
  top: 6.2vw;
  background-color: #fff;
  width: 71vw;
  height: 16.5vw;
  z-index: 2;
}

.intro__box.shaBox {
  left: -1.8vw;
  top: 7vw;
  z-index: 1;
}

.intro__summ__desc {
  color: #000000;
  display: block;
  font-size: 5.3vw;
  font-weight: 900;
  letter-spacing: -0.05em;
  line-height: 5.5vw;
  margin-left: -0.3vw;
}

.intro__summ__desc:nth-child(2)::after {
  content: "DREAM";
}
.intro__summ__desc:nth-child(3)::after {
  content: "CURRENT";
}
.intro__summ__desc:nth-child(4)::after {
  content: "FUNDAMENTAL";
}

.intro__summ__desc::after {
  color: #fff;
  font-size: 1.2vw;
  letter-spacing: 0.6em;
  font-weight: 500;
  margin-left: 1vw;
  line-height: 0vw;
}

/* //intro */

/* about */
#about {
}
#aboutArti .aboutDesc {
  width: 40vw;
  font-family: "Cafe24Ohsquareair";
  font-weight: lighter;
  color: #fff;
  font-size: 1vw;
  line-height: 160%;
  transform: rotate(0.1deg) translate(80%, 0);
}
#aboutArti .aboutDesc p {
  margin-bottom: 1vw;
}
#aboutArti .aboutDesc span {
  color: #000000;
}
.picture {
  width: 28vw;
  height: 28vw;
  border-radius: 50%;
  background: #fff;
  /* background-image: url(../img/aboutme1.png); */
  background-position: center center;
  background-size: cover;
}
@media (max-width: 1360px) {
  #aboutArti .aboutDesc {
    line-height: 1.5;
  }
  #aboutArti .aboutDesc p {
    font-size: 14px;
  }
}

@media (max-width: 1010px) {
  #aboutArti {
    display: flex;
    flex-direction: column;
  }
  #aboutArti .aboutDesc {
    width: 90vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  #aboutArti .aboutDesc p {
    margin-bottom: 10px;
  }
  .picture {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10vw;
  }
}
/* //about */

/* skill */
#skill {
  font-size: 0.1vw;
}

#skill .skillWrap {
  display: grid;
  grid-template-areas:
    "html div1 div2"
    "html css div3"
    "div4 css javascript"
    "div5 div6 javascript"
    "jquery div7 javascript"
    "jquery div8 div9"
    "jquery php div10"
    "div11 php mysql"
    "div12 div13 mysql"
    "react div14 mysql"
    "react div15 div16";
  grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
  grid-template-rows: 70em 70em 70em 35em 35em 35em 70em 70em 35em 35em 105em;
}

.html {
  grid-area: html;
}
.css {
  grid-area: css;
}
.javascript {
  grid-area: javascript;
}
.jquery {
  grid-area: jquery;
}
.php {
  grid-area: php;
}
.mysql {
  grid-area: mysql;
}
.react {
  grid-area: react;
}

.div1 {
  grid-area: div1;
}
.div2 {
  grid-area: div2;
}
.div3 {
  grid-area: div3;
}
.div4 {
  grid-area: div4;
}
.div5 {
  grid-area: div5;
}
.div6 {
  grid-area: div6;
}
.div7 {
  grid-area: div7;
}
.div8 {
  grid-area: div8;
}
.div9 {
  grid-area: div9;
}
.div10 {
  grid-area: div10;
}
.div11 {
  grid-area: div11;
}
.div12 {
  grid-area: div12;
}
.div13 {
  grid-area: div13;
}
.div14 {
  grid-area: div14;
}
.div15 {
  grid-area: div15;
}
.div16 {
  grid-area: div16;
}

#skill .skillWrap #skillArti .skillT {
  font-family: "deciso";
  font-weight: 100;
  font-size: 50em;
  color: #000;
  position: relative;
}

.skillT::before {
  position: absolute;
  top: 10vw;
  left: 10vw;
  color: #e05057;
}

#skill .skillWrap #skillArti p {
  width: 21.5vw;
  font-family: "Cafe24Ohsquareair";
  font-weight: lighter;
  color: #fff;
  font-size: 1vw;
  line-height: 160%;
  transform: rotate(0.1deg);
  text-align: justify;
}

@media (max-width: 1340px) {
  #skill .skillWrap #skillArti p {
    font-size: 14px;
  }
}

@media (max-width: 1020px) {
  #skill .skillWrap {
    grid-template-areas:
      "html div1"
      "html css"
      "div2 css"
      "javascript css"
      "javascript div3"
      "javascript jquery"
      "div4 jquery"
      "php jquery"
      "php div5"
      "php mysql"
      "div6 mysql"
      "react mysql"
      "react div";
    grid-template-columns: calc(100% / 2) calc(100% / 2);
    grid-template-rows: 100em 100em 50em 50em 50em 100em 50em 50em 50em 100em 50em 50em 150em;
  }

  #skill .skillWrap #skillArti p {
    width: 95%;
  }
}

@media (max-width: 800px) {
  #skill .skillWrap {
    grid-template-rows: 100px 100px 50px 50px 50px 100px 50px 50px 50px 100px 50px 50px 150px;
  }
}

@media (max-width: 510px) {
  #skill .skillWrap {
    grid-template-areas:
      "html"
      "css"
      "javascript"
      "jquery"
      "php "
      "mysql"
      "react";
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: initial;
  }

  #skillArti {
    margin-bottom: 5vw;
  }
}
/* //skill */

/* works */
#works {
}
.works__summ {
  position: relative;
  left: 15vw;
  color: #000;
  letter-spacing: 0.025em;
  line-height: 1.5vw;
}

.works__summ ul span {
  font-weight: 900;
  font-size: 1.1vw;
}
.works__summ ul li {
  font-family: "Mohave";
  font-weight: 400;
  font-size: 1.1vw;
}

/* 아티클 포지션*/
#worksArti {
  width: 30vw;
  height: 17.7vw;
  position: relative;
}

#worksArti .work__number {
  font-size: 20vw;
  font-weight: 300;
  line-height: 0.8;
}
/* 아티클 위치 잡기*/
#worksArti:nth-of-type(1) {
}
#worksArti:nth-of-type(2) {
  margin-left: 20vw;
}
#worksArti:nth-of-type(3) {
  margin-top: -30vw;
  margin-left: 50vw;
}
#worksArti:nth-of-type(4) {
  margin-top: 16vw;
  margin-left: 7vw;
}
#worksArti:nth-of-type(5) {
  margin-top: -20vw;
  margin-left: 55vw;
}

/* z-index
h3 : 3/7
span : 2/6
em : 2/6
overBox : 4/8
workBox : 0/5 */

/* h3,span,em 위치잡기/설정 */
/* h3가 span보다 위에있어야함 */
/* workbox가 생기면 다른 숫자,overbox들은 가려져야함 */
/* h3, span이 workbox보다 위에있어서 마우스오버되면 위치 바뀌어야함 */
#worksArti h3 {
  color: #fff;
  transition: all 0.5s;
  position: relative;
  z-index: 3;
}

#worksArti h3:before {
  position: absolute;
  color: #e05057;
  top: 1.5vw;
  left: 1.5vw;
  z-index: -1;
  font-weight: 100;
}

#worksArti:nth-of-type(1) h3:before {
  content: "1";
}
#worksArti:nth-of-type(2) h3:before {
  content: "2";
}
#worksArti:nth-of-type(3) h3:before {
  content: "3";
}
#worksArti:nth-of-type(4) h3:before {
  content: "4";
}
#worksArti:nth-of-type(5) h3:before {
  content: "5";
}

/* em은 workbox보다 위에있으면서 마우스오버되면 위치 바뀌어야함 */
/* workbox가 생기면 다른 em은 가려져야함 */
#worksArti em {
  position: absolute;
  font-size: 3vw;
  bottom: 1vw;
  left: 13.5vw;
  color: #000;
  font-weight: 500;
  z-index: 2;
}

#worksArti:nth-of-type(1) em {
  left: 8vw;
}

/* 제일 상위에 있어야함 */
/* workbox나타나면 해당 overbox만 최상위 */
#worksArti .overBox {
  display: block;
  position: absolute;
  left: 1vw;
  top: 1.5vw;
  width: 11.2vw;
  height: 15.5vw;
  /* background-color: #fff;
    opacity: 0.5; */
  z-index: 4;
}
#worksArti:nth-of-type(1) .overBox {
  width: 30%;
}

#worksArti .workBox {
  position: absolute;
  left: 0;
  top: 0;
  width: 50vw;
  height: 30vw;
  background: #000;
  opacity: 0;
  z-index: 0;
  transform: scale(0.9, 0.9);
}

/* workBox 위치 */
#worksArti:nth-of-type(1) .workBox {
}
#worksArti:nth-of-type(2) .workBox {
  /* top: -5vw;
  left: -5vw; */
}
#worksArti:nth-of-type(3) .workBox {
  left: -20vw;
}
#worksArti:nth-of-type(5) .workBox {
  /* left: -20vw; */
}

/* 오버박스에 마우스 올리면 워크박스 나와야함 */
/* h3, span, em, boverBox z-index 조절 */
#worksArti .overBox:hover ~ div.workBox {
  opacity: 1;
  z-index: 5;
  transform: scale(1, 1);
}
/* z-index변경(hover에 해당된 article만) */
#worksArti .overBox:hover ~ h3 {
  z-index: 7;
}
#worksArti .overBox:hover ~ span {
  z-index: 6;
}
#worksArti .overBox:hover ~ em {
  z-index: 6;
}
#worksArti .overBox:hover {
  z-index: 8;
}

/* h3, span, em 위치 바꾸기*/
#worksArti .overBox:hover ~ h3 {
  left: 2vw;
  top: 35%;
}
#worksArti .overBox:hover ~ span {
  left: 3.5vw;
  top: 43%;
}
#worksArti .overBox:hover ~ em {
  color: #fff;
  left: 11.5vw;
  top: 36.5%;
}

/* workBox안 내용 */
.workBox p {
  font-family: "Cafe24Ohsquareair";
  font-size: 2vw;
  color: #fff;
  position: absolute;
}
.workBox span {
  font-size: 2vw;
  color: #fff;
  position: absolute;
}
#worksArti:nth-of-type(1) .workBox {
  background-image: url(../img/workBoxBg1.png);
}
#worksArti:nth-of-type(1) .workBox p {
  left: 11.8vw;
  top: 12vw;
}
#worksArti:nth-of-type(1) .workBox span.inBox1 {
  left: 11.8vw;
  top: 19.5vw;
}
#worksArti:nth-of-type(1) .workBox span.inBox2 {
  left: 23vw;
  top: 19.5vw;
}

/* workBox안에서 계속 보일 수 있게 해야함 */
/* ... */

/* #worksArti h3:hover ~ div.workBox,
#worksArti span:hover ~ div.workBox,
#worksArti div.workBox:hover {
    opacity: 1;
    z-index: 98;
    transform: scale(1, 1);
}

#worksArti h3:hover ~ em {
    opacity: 0;
} */

.wrap #footer {
}
