/* header */
.wrap #header {
    padding: 3vw 11vw;
    font-family: "deciso";
    font-weight: 900;
}

.wrap #header #menu { width: 100%; }
.wrap #header #menu ul { display: flex; justify-content: space-between; }
.wrap #header #menu ul a { display: block; }
.wrap #header #menu ul li a { font-size: 12px; }
.wrap #header #menu ul li a em {
    display: block;
    margin-bottom: 1.2em;
    color: #fff;
    font-weight: 100;
}
.wrap #header #menu ul li a em:last-child { margin-bottom: 0; margin-top: 2.7em; }
.wrap #header #menu ul li a span { color: #000000; }

@media (max-width:450px) {
    .wrap #header #menu {
        display: none;
    }
}

/* //header */

/* intro */
.wrap #main #intro {
    padding: 0 11vw;
    font-family: "deciso";
    flex-direction: column;
    align-items: flex-start;
}

.intro__title {
    position: relative;
    width: 100%;
    height: 24vw;
}

.intro__title .intro__title__top {
    color: #000000;
    font-size: 13vw;
    font-weight: 900;
    position: absolute;
}

.intro__title .tTop {
    left: -0.9vw;
    top: -6vw;
    z-index: 3;
}

.intro__title .tTop.sha {
    left: 0.05vw;
    top: -5vw;
    z-index: 1;
    font-weight: 500;
}

.intro__title .tTop:nth-child(1):after {
    content: "FRONTENDDEV";
    color: #fff;
    font-size: 1.2vw;
    letter-spacing: 0.6em;
    font-weight: 500;
    margin-left: 1vw;
    line-height: 0vw;
    position: absolute;
    top: 10.5vw;
    left: 26vw;
}

.intro__title .tBottom {
    top: 5vw;
    left: -0.9vw;
    z-index: 3;
}

.intro__box {
    position: absolute;
    left: -2.8vw;
    top: 6.2vw;
    background-color: #fff;
    width: 71vw;
    height: 16.5vw;
    z-index: 2;
}

.intro__box.shaBox {
    left: -1.8vw;
    top: 7vw;
    z-index: 1;
}

.intro__summ__desc {
    color: #000000;
    display: block;
    font-size: 5.3vw;
    font-weight: 900;
    letter-spacing: -0.05em;
    line-height: 5.5vw;
    margin-left: -0.3vw;
}

@media (max-width:450px) {
    .intro__summ__desc {
        font-size: 24px;
        line-height: 25px;
    }
}

.intro__summ__desc:nth-child(2)::after { content: "DREAM"; }
.intro__summ__desc:nth-child(3)::after {content: "CURRENT"; }
.intro__summ__desc:nth-child(4)::after { content: "FUNDAMENTAL"; }

.intro__summ__desc::after {
    color: #fff;
    font-size: 1.2vw;
    letter-spacing: 0.6em;
    font-weight: 500;
    margin-left: 1vw;
    line-height: 0vw;
}
/* //intro */

/* about */
#about {
    width: 100vw;
    overflow: hidden;
}

#aboutArti .aboutDesc {
    width: 40vw;
    font-family: "Cafe24Ohsquareair";
    color: #fff;
    font-weight: lighter;
    font-size: 1vw;
    line-height: 160%;
    transform: rotate(0.1deg) translate(50vw, 0);
}

#aboutArti .aboutDesc p {
    margin-bottom: 1vw;
}

#aboutArti .aboutDesc span {
    color: #000000;
}

.picture {
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
    background: #fff;
    /* background-image: url(../img/aboutme1.png); */
    background-position: center center;
    background-size: cover;
    transform: rotate(0.1deg) translate(20vw, -5vw);
}

@media (max-width: 1360px) {
    #aboutArti .aboutDesc {
        line-height: 1.5;
    }

    #aboutArti .aboutDesc p {
        font-size: 14px;
    }
}

@media (max-width: 1010px) {
    #aboutArti {
        display: flex;
        flex-direction: column;
    }

    #aboutArti .aboutDesc {
        width: 90vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    #aboutArti .aboutDesc p {
        margin-bottom: 10px;
    }

    .picture {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 10vw;
    }
}
/* //about */

/* skill */
#skill {font-size: 0.1vw;}
  
#skill .skillWrap {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "html div1 div2"
        "html css div3"
        "div4 css javascript"
        "div5 div6 javascript"
        "jquery div7 javascript"
        "jquery div8 div9"
        "jquery php div10"
        "div11 php mysql"
        "div12 div13 mysql"
        "react div14 mysql"
        "react div15 div16";
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    grid-template-rows: 70em 70em 70em 35em 35em 35em 70em 70em 35em 35em 105em;
}

.html {grid-area: html;}
.css {grid-area: css;}
.javascript {grid-area: javascript;}
.jquery {grid-area: jquery;}
.php {grid-area: php;}
.mysql {grid-area: mysql;}
.react {grid-area: react;}
.div1 {grid-area: div1;}
.div2 {grid-area: div2;}
.div3 {grid-area: div3;}
.div4 {grid-area: div4;}
.div5 {grid-area: div5;}
.div6 {grid-area: div6;}
.div7 {grid-area: div7;}
.div8 {grid-area: div8;}
.div9 {grid-area: div9;}
.div10 {grid-area: div10;}
.div11 {grid-area: div11;}
.div12 {grid-area: div12;}
.div13 {grid-area: div13;}
.div14 {grid-area: div14;}
.div15 {grid-area: div15;}
.div16 {grid-area: div16;}

#skill .skillWrap #skillArti .skillT {
    font-family: "deciso";
    font-weight: 100;
    font-size: 50em;
    color: #000;
    position: relative;
}

.skillT::before {
    position: absolute;
    top: 10vw;
    left: 10vw;
    color: #e05057;
}

#skill .skillWrap #skillArti p {
    width: 21.5vw;
    font-family: "Cafe24Ohsquareair";
    font-weight: lighter;
    color: #fff;
    font-size: 1vw;
    line-height: 160%;
    transform: rotate(0.1deg);
    text-align: justify;
}

@media (max-width: 1340px) {
    #skill .skillWrap #skillArti p {
        font-size: 14px;
    }
}

@media (max-width: 1020px) {
    #skill .skillWrap {
        padding: 0 20px;
        grid-template-areas:
        "html div1"
        "html css"
        "div2 css"
        "javascript css"
        "javascript div3"
        "javascript jquery"
        "div4 jquery"
        "php jquery"
        "php div5"
        "php mysql"
        "div6 mysql"
        "react mysql"
        "react div";
        grid-template-columns: calc(100% / 2) calc(100% / 2);
        grid-template-rows: 100em 100em 50em 50em 50em 100em 50em 50em 50em 100em 50em 50em 150em;
    }

#skill .skillWrap #skillArti p {
        width: 95%;
    }
}

@media (max-width: 800px) {
    #skill .skillWrap {
        grid-template-rows: 100px 100px 50px 50px 50px 100px 50px 50px 50px 100px 50px 50px 150px;
    }
}

@media (max-width: 510px) {
    #skill .skillWrap {
        grid-template-areas:
        "html"
        "css"
        "javascript"
        "jquery"
        "php "
        "mysql"
        "react";
        align-items: center;
        grid-template-columns: 100%;
        grid-template-rows: initial;
    }

    #skillArti {
        margin-bottom: 5vw;
    }
}
/* //skill */

/* works */
/* #works {padding-bottom: 10vw;} */

/* works__summary */
.works__summ {
    transform: translateX(30vw);
    color: #000;
    letter-spacing: 0.025em;
    line-height: 1.5vw;
}
.works__summ ul span {
    font-weight: 900;
    font-size: 1.1vw;
}
.works__summ ul li {
    font-family: "Mohave";
    font-weight: 400;
    font-size: 1.1vw;
}
@media (max-width:1300px) {
    .works__summ {
        line-height: 20px;
    }
    .works__summ ul span,
    .works__summ ul li {
        font-size: 14px;
    }
}

/* 아티클 포지션*/
.articleWrap {
    height: 70vw;
    position: relative;
}
.worksArti {
    display: inline-block;
    width: 30vw;
    height: 17.7vw;
    position: absolute;
    overflow: hidden;
    z-index: 1;
}

/* 아티클 위치 잡기*/
.worksArti.n1 {left: 9vw; top: -4vw;}
.worksArti.n2 {left: 30vw; top: 14vw;}
.worksArti.n3 {left: 60vw; top: 6vw;}
.worksArti.n4 {left: 20vw; top: 36vw;}
.worksArti.n5 {left: 55vw; top: 33vw;}

.worksArti h3.work__number {
    font-size: 20vw;
    font-weight: 300;
    line-height: 0.8;
    color: #fff;
    position: relative;
    display: inline-block;
}

.worksArti h3:before {
    position: absolute;
    color: #e05057;
    top: 1.5vw;
    left: 1.5vw;
    z-index: -1;
    font-weight: 100;
}

.worksArti:nth-of-type(1) h3:before {content: "1";}
.worksArti:nth-of-type(2) h3:before {content: "2";}
.worksArti:nth-of-type(3) h3:before {content: "3";}
.worksArti:nth-of-type(4) h3:before {content: "4";}
.worksArti:nth-of-type(5) h3:before {content: "5";}

.worksArti em {
    position: absolute;
    font-size: 3vw;
    bottom: 1vw;
    transform: translateX(1vw);
    color: #000;
    font-weight: 500;
}

/* showBox */
.worksArti.showBox {
    width: 50vw;
    height: 30vw;
    background: #000;
    z-index: 2;
    /* transform: scale(0, 0); */
    background-image: url(../img/workBoxBg1.png)
}

.worksArti.showBox.n3 {left: 45vw;}
.worksArti.showBox.n5 {left: 40vw;}

.worksArti.showBox h3.work__number {
    left: 2vw;
    top: 50%;
    transform: translateY(-50%);
}

.worksArti.showBox:not(:nth-of-type(1)) em {
    color: #fff;
    left: 15vw;
    top: 7vw;
}

/* n1만 */
.worksArti.showBox.n1 em {
    color: #fff;
    left: 10vw;
    top: 7vw;
}

.worksArti.showBox .close {
    position: absolute;
    left: initial;
    right: 1vw;
    top: 1vw;
    color: #fff;
    cursor: pointer;
}

.worksArti .close.hide {display: none;}
.worksArti .workDesc.hide {display: none;}
.worksArti .workLink.hide {display: none;}
.worksArti .inBox2.hide {display: none;}

.worksArti.showBox:not(:nth-of-type(1)) .workDesc {
    font-family: "Cafe24Ohsquareair";
    font-size: 2vw;
    color: #fff;
    position: absolute;
    left: 16.15vw;top: 12vw;
}
.worksArti.showBox.n1 .workDesc {
    font-family: "Cafe24Ohsquareair";
    font-size: 2vw;
    color: #fff;
    position: absolute;
    left: 11.15vw;top: 12vw;
}

.worksArti.showBox .workLink {
    font-size: 2vw;
    color: #fff;
    position: absolute;
}
.worksArti.showBox span {
    font-size: 2vw;
    color: #fff;
    position: absolute;
}
.worksArti.showBox:not(:nth-of-type(1)) span.inBox1 {left: 4.2vw;top: 19.5vw; white-space: nowrap;}
.worksArti.showBox:not(:nth-of-type(1)) span.inBox2 {left: 28vw;top: 19.5vw;}
.worksArti.showBox.n1 span.inBox1 {left: 4.2vw;top: 19.5vw; white-space: nowrap;}
.worksArti.showBox.n1 span.inBox2 {left: 23vw;top: 19.5vw;}
/* //work */

/* script */
#script {
    height: 305.7vw;
}

#script .ribbon {
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 200vw;
    height: 5vw;
    background-color: #fff;
    margin-top: 5vw;
    margin-bottom: 5vw;
    position: relative;
    z-index: 0;
}

#script .ribbon::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -0.5vw;
    width: 200vw;
    height: 6vw;
    background-color: #fff;
    opacity: 0.5;
}

#MOUSE .ribbon {margin-left: -29.7vw;}
#PARALLAX .ribbon {margin-left: -37.5vw;}
#QUIZ .ribbon {margin-left: -56.6vw;}
#SEARCH .ribbon {margin-left: -31.7vw;}
#SLIDER .ribbon {margin-left: -29.5vw;}

#script .ribbon span {
    color: #000;
    font-size: 5vw;
    line-height: 5vw;
    margin-right: 4vw;
}

#script .window {
    width: 40vw;
    height: 18vw;
    margin-bottom: 2vw;
    /* background: linear-gradient(230deg, rgba(255, 255, 255, 0) 3.02%, #000000 3.03%, #000000 56.49%); */
    background-image: url(../img/window.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 10vw;
}

#script article .window:nth-of-type(2) {margin-left: 20vw;}

#script article .effectWrap {
    display: grid;
    grid-template-areas:
        "window1 link"
        "window2 desc";
    grid-template-columns: 65% 35%;
}

#script article .effectWrap .window:nth-of-type(1) {grid-area: window1;}

#script article .effectWrap .window:nth-of-type(2) {grid-area: window2;}

#script article .effectWrap span {grid-area: link;}

#script article .effectWrap p {grid-area: desc;}

#script article .effectWrap span {
    display: flex;
    align-items: flex-end;
    padding-bottom: 2vw;
    color: #fff;
    font-size: 2vw;
    font-weight: 300;
}

#script article .effectWrap p {
    font-family: "Cafe24Ohsquareair";
    font-size: 1.2vw;
    color: #fff;
    transform: rotate(0.1deg);
    width: 70%;
}

@media (max-width:1450px) {
    #script article .effectWrap p {
        font-size: 14px;
    }
}

@media (max-width:1020px) {
    #script article .effectWrap {
        grid-template-areas:
        "window1 window1 window1"
        "window2 window2 link"
        "desc desc desc";
        grid-template-columns: 40% 40% 20%;
        grid-template-rows: 45% 45% 10%;
    }

    #script article .window:nth-of-type(1) {
        margin-left: 10vw;
    }

    #script article .window:nth-of-type(2) {
        margin-left: 20vw;
    }

    #script article .effectWrap span {
        padding-bottom: 15px;
    }

    #script article .effectWrap p {
        margin-top: 2vw;
        display: flex;
        justify-content: center
    }
}

@media (max-width:830px) {
    #script article .effectWrap span {
        font-size: 17px;
    }
}

@media (max-width:710px) {
    #script article .effectWrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #script .window {
        width: 50vw;
        height: 25vw;
        margin-bottom: 0vw;
    }

    #script article .window:nth-of-type(1) {
        margin-left: 0vw;
    }

    #script article .window:nth-of-type(2) {
        margin-left: 0vw;
    }

    #script article .effectWrap span {
        padding-bottom: 0;
    }
}

/* //script */

/* game */
/* #game {
    display: flex;
    left: 0;
    flex-direction: column;
    flex-wrap: wrap;
  } */
  
  #game .title {}
  
  /* #game .gameCont {
    display: flex;
  } */
  
  /* #game .gameCont>div {
    height: 35vw;
    width: 100vw;
    transform: translateX(-11vw);
  } */
  
  .gameWrap {
    display: grid;
    grid-template-areas:
      "order gameWind"
      "gameTitle gameWind"
      "gameDesc gameWind"
      "gameCode gameWind";
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 15% 35% 35%;
    align-items: center;
    justify-items: center;
  }
  
  .gameWrap span.order {
    grid-area: order;
    font-family: "turretroad";
    font-size: 1.5vw;
    color: rgba(0, 0, 0, 0.5);
    transform: translateY(1.5vw);
  }
  
  .gameWrap span.gameTitle {
    grid-area: gameTitle;
    font-size: 5vw;
    text-transform: uppercase;
    color: #000;
  }
  
  .gameWrap div.gameDesc {
    grid-area: gameDesc;
    width: 60%;
  }
  
  .gameWrap div.gameDesc p {
    font-family: "Cafe24Ohsquareair";
    font-size: 1.5vw;
    color: #000;
    transform: rotate(0.1deg);
    text-align: center;
    line-height: 1.8;
  }
  
  .gameWrap a {
    display: inline-block;
    width: 40%;
    height: 50%;
    background-image: url(../img/viewBtn.png);
    background-position: center center;
    background-repeat: no-repeat;
    grid-area: gameCode;
    position: relative;
    transform: translateY(-2vw);
  }
  
  .gameWrap a.gameCode p {
    font-family: "turretroad";
    font-size: 2vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    white-space: nowrap;
  }
  
  .gameWrap div.gameWind {
    grid-area: gameWind;
    width: 100%;
    height: 100%;
    background-image: url(../img/gameWind.png);
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-5vw);
  }
  
  .gameWrap div.gameWind .gameT {
    display: block;
    font-size: 2vw;
    color: #fff;
    text-transform: uppercase;
    font-family: "PFStardust";
    transform: translateY(5vw);
  }
  
  .gameWrap div.gameWind .gameBtn {
    display: inline-block;
    padding: 0.6vw 2.5vw;
    font-size: 2vw;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-family: "PFStardust";
    transform: translateY(15vw);
  }
  
  #game .gameCont>div:nth-child(1) {
    background-color: rgba(0, 188, 250, 0.1);
  }
  
  #game .gameCont>div:nth-child(2) {
    background-color: rgba(0, 106, 255, 0.1);
  }
  
  #game .gameCont>div:nth-child(3) {
    background-color: rgba(112, 0, 250, 0.1);
  }
  
  #game .gameCont>div:nth-child(4) {
    background-color: rgba(229, 0, 250, 0.1);
  }
  
  #game .gameCont>div:nth-child(5) {
    background-color: rgba(250, 0, 112, 0.1);
  }
  
  /* //game */